<div class="container mt-4">
<%= flash[:notice] %>
  <div class="row">
    <div class="col-md-3">
      <%= render 'book', user: @user, book: @book %>
    </div>

  <div class="col-md-8 offset-md-1">
  <h1>Book detail</h1>
    <table class="table text-center" style="table-layout: fixed;">
      <tbody>
        <tr>
          <!-- プロフィール画像とユーザー名 -->
          <td style="width: 20%;">
            <%= link_to user_path(@book.user) do %>
              <%= image_tag @book.user.get_profile_image(100, 100), alt: @book.user.name, class: "mb-1" %><br>
              <%= @book.user.name %>
            <% end %>
          </td>

          <!-- タイトル -->
          <td style="width: 20%;">
            <%= link_to @book.title, book_path(@book) %>
          </td>

          <!-- body -->
          <td style="width: 20%;">
            <%= @book.body %>
          </td>

          <!-- Edit -->
          <td style="width: 20%;">
          <% if @book.user == current_user %>
            <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success btn-sm" %>
          <% end %>
          </td>

          <!-- Destroy -->
          <td style="width: 20%;">
          <%if @book.user == current_user %>
            <%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm" %>
          <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
